

.habya-logo {
    margin-top: 10px;
    text-align: center;
    padding-bottom: 20px;
    font-weight: 400;
    font-size: 1rem;
  }
  
  .habya-logo img {
    margin-top: 10px;
    width: max(18vw, 140px);
    height: max(18vw, 140px);
  }
  
  .habya-logo p {
    padding-top: 10px;
  }
  
  .reg-box {
    text-align: center;
    display: grid;
    justify-content: center;
    align-items: center;
    margin: 5px auto;
    justify-items: center;
    width: 100%;
    height: 40%;
  }
  
  .reg-box h1 {
    padding: 15px 2px;
    color: rgb(150, 72, 223);
    text-transform: uppercase;
    font-size: 2rem;
  }
