
.register-here {
    position: relative;
    margin-top: 70px;
  }
  .register-here i {
    position: absolute;
    top: -40px;
    right: 40px;
  }
  
  #profile-img {
    margin: 40px auto;
    width: 120px;
    height: 120px;
    background-color: rgb(224, 217, 217);
  }
  
  .player-details {
    margin: 40px 10px;
  }
  
  .player-details h1 {
    text-transform: uppercase;
    color: var(--color);
    margin-bottom: 20px;
    font-size: 3rem;
  }
  
  .player-details h2 {
    margin-top: 40px;
    font-size: 2.3rem;
  }
  
  .player-details p {
    margin: 15px auto;
    font-size: 1.3rem;
  }
  
  .player-details button {
    margin-top: 140px;
  }