* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color: rgb(107, 7, 201);
}

body {
  width: 100vw;
  height: calc(100vh - 50px);
  margin: 0 auto;
}

.container {
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  padding-top: 60px;
  text-align: center;
}

.habya-btn {
  position: absolute;
  bottom: 15vh;
  left: calc(50vw - 75px);
  width: 150px;
  height: 45px;
  background-color: var(--color);
  border: none;
}

  a {
  color: white;
  text-decoration: none;
  font-size: 1rem;
}

.nav-bar {
  display: grid;
  grid-template-columns: 45% 55%;
  align-items: center;
  justify-items: left;
  height: 70px;
  background-color: var(--color);
  color: rgb(224, 217, 217);
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: 20;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.nav-bar img {
  width: 50px;
  height: 50px;
  margin-left: 40px;
}

.nav-bar h3 {
  padding-right: 10px;
}

.nav-bar1 {
  display: grid;
  grid-template-columns: 20% 60% 20%;
  align-items: center;
  justify-items: center;
  height: 70px;
  background-color: var(--color);
  color: rgb(224, 217, 217);
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: 20;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

label {
  text-transform: capitalize;
  margin-top: 20px;
  margin-left: 2px;
}

input {
  height: 50px;
  width: 80vw;
  margin-top: -13px;
  padding-left: 15px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

select {
  height: 50px;
  width: 80vw;
  margin-top: -13px;
  margin-left: 2px;
  padding-left: 15px;
  padding-right: 15px;
}




