* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color: rgb(107, 7, 201);
}

body {
  width: 100vw;
  height: 100vh;
  margin: 0 auto;
}

.container {
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  padding-top: 80px;
  text-align: center;
}

.habya-logo {
  margin-top: 20px;
  text-align: center;
  padding-bottom: 20px;
  font-weight: 400;
  font-size: 1rem;
}

.habya-logo img {
  margin-top: 20px;
  width: max(18vw, 140px);
  height: max(15vw, 140px);
}

.habya-logo p {
  padding-top: 10px;
}

.reg-box {
  text-align: center;
  display: grid;
  justify-content: center;
  align-items: center;
  margin: 5px auto;
  justify-items: center;
  width: 100%;
  height: 55%;
}

.reg-box h1 {
  padding: 15px 2px;
  color: rgb(150, 72, 223);
  text-transform: uppercase;
  font-size: 2rem;
}

.habya-btn {
  width: 150px;
  height: 45px;
  margin-top: 60px;
  background-color: var(--color);
  border: none;
}

.habya-btn a {
  color: white;
  text-decoration: none;
  font-size: 1rem;
}

.nav-bar {
  display: grid;
  grid-template-columns: 45% 55%;
  align-items: center;
  justify-items: left;
  height: 70px;
  background-color: var(--color);
  color: rgb(224, 217, 217);
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: 20;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.nav-bar img {
  width: 50px;
  height: 50px;
  margin-left: 40px;
}

.nav-bar h3 {
  padding-right: 10px;
}

.nav-bar1 {
  display: grid;
  grid-template-columns: 20% 60% 20%;
  align-items: center;
  justify-items: center;
  height: 70px;
  background-color: var(--color);
  color: rgb(224, 217, 217);
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: 20;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.create-profile {
  margin: 40px auto;
  display: grid;
  width: 100%;
  grid-row-gap: 20px;
  align-items: center;
  justify-items: left;
  justify-content: center;
}

label {
  text-transform: capitalize;
  margin-top: 20px;
  margin-left: 2px;
}

input {
  height: 55px;
  width: 70vw;
  margin-top: -13px;
  padding-left: 15px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.create-profile input:nth-child(8) {
  width: 18vw;
  height: 18vw;
  background-color: rgb(224, 217, 217);
  margin-bottom: 35px;
  margin-left: 5px;
  padding-left: 0;
}

.register-here {
  position: relative;
  margin-top: 70px;
}
.register-here i {
  position: absolute;
  top: -40px;
  right: 20px;
}

#profile-img {
  margin: 40px auto;
  width: 120px;
  height: 120px;
  background-color: rgb(224, 217, 217);
}

.player-details {
  margin: 40px 10px;
}

.player-details h1 {
  text-transform: uppercase;
  color: var(--color);
  margin-bottom: 20px;
  font-size: 3rem;
}

.player-details h2 {
  margin-top: 40px;
  font-size: 2.3rem;
}

.player-details p {
  margin: 15px auto;
  font-size: 1.3rem;
}

.player-details button {
  margin-top: 140px;
}

.create-event {
  margin: 40px auto;
  margin-left: 7vw;
  margin-bottom: 60px;
  display: grid;
  grid-row-gap: 25px;
  align-items: center;
  justify-items: left;
  justify-content: left;
}

select {
  height: 55px;
  width: 70vw;
  margin-top: -13px;
  margin-left: 2px;
  padding-left: 15px;
  padding-right: 15px;
}

.make-payment {
  display: grid;
  margin: 40px auto;
  grid-row-gap: 20px;
  align-items: center;
  justify-items: left;
  justify-content: center;
}

.make-payment h4 {
  font-size: 1.3rem;
  font-family: Arial, Helvetica, sans-serif;
}

.total-amount {
  text-align: center;
  margin: 50px auto;
}

.total-amount h4 {
  margin-bottom: 10px;
}

.category {
  display: flex;
  width: 80vw;
  height: 70px;
  align-items: center;
  justify-content: space-between;
  border: 1px solid gray;
  padding: 0 20px;
  margin-top: 10px;
  font-size: 1rem;
  justify-items: center;
}
.category h5 {
  font-size: 1rem;
}

.category p {
  color: var(--color);
  font-weight: 600;
}

#add-event-btn {
  margin: 50px auto;
  width: 140px;
  height: 50px;
  font-size: 1rem;
}

.total-amount1 h1,
.total-amount h1 {
  color: var(--color);
}

.form-container {
  display: grid;
  justify-content: center;
  justify-items: center;
}

.proceed {
  margin-top: 40px;
  display: grid;
  height: 250px;
  width: 75vw;
  grid-row-gap: 30px;
  align-items: center;
  text-align: left;
  font-size: 1rem;
}

.proceed h4 {
  font-size: 1.3rem;
  margin-bottom: 10px;
}

.radio {
  height: 30px;
}
.radio input {
  height: 15px;
  width: 15px;
}

.total-amount1 {
  margin-top: 150px;
  text-align: left;
  margin-bottom: 90px;
}

.proceed button {
  margin: 30px auto;
}

.Congratulations {
  margin: 70px auto;
}

.Congratulations h3 {
  color: var(--color);
  font-weight: 800;
  font-size: 1.3rem;
}

.Congratulations p {
  margin: 30px auto;
  font-size: 1.1rem;
}

.nav-drop-down {
  position: absolute;
  top: 70px;
  left: 0;
  width: 33vw;
  height: 230px;
  text-align: left;
  padding: 10px;
  background-color: rgb(204, 198, 198);
  /* visibility: hidden; */
}

.profile-drop-down {
  position: absolute;
  top: 70px;
  right: 0;
  width: 15vw;
  height:100px;
  text-align: right;
  background-color: rgb(204, 198, 198);
  padding: 10px;
  /* visibility: hidden; */
}

ul {
  list-style-type: none;
}

ul li {
  margin: 15px;
}
